.page{
    background-color: rgb(255, 230, 225);
}
.header{
    background-color: rgb(117, 46, 33);
    width: 100%;
    height: 70px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.page-tarjeta{
    background-color: rgba(255, 234, 230, 0.815);
    width: 100%;
    height: 715px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 715px;

}
.qr-container{
    background-color: rgb(255, 213, 185);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 500px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.up-container{
    text-align: center;
    margin-top: 20px;
    color: rgb(112, 64, 0);
}
.down-container{
    text-align: center;
}
.titulo-qr{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.usuario-qr{
    font-size:20px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nivel-usuario{
    font-weight: bold;
    font-size: 20px;
}
.qr{
    border-radius: 15px;
    margin-top: 15px;
}
.texto-saldo{
    font-size: 25px;
}
.puntos{
    font-size: 40px;
    font-weight: bold;
}
.puntos-disponibles{ 
    font-size: 25px;
}
.faltante{
    color: rgb(112, 64, 0);
    font-size: 20px;
    margin-bottom: 15px;
}
.progressbar-usqr{
    width: 400px;
    height: 15px;
    border-radius: 10px;
    border: solid;
    border-color:  rgb(117, 46, 33);
    background-color: rgba(255, 238, 218, 0.76);
}
.progress-usqr{
    width: 30%;
    height: 15px;
    background-color: rgb(117, 46, 33);
    border-radius: 10px;
}
.down-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home{
    width: 100%;
    height: 70px;
}